<div class="allorders">
	<div class="leftbar">所有服务订单</div>
	<div class="right-content">
		<div class="content-title">
			<div class="title-text">订购详情</div>
			<div class="title-right">
				<div class="time-text">交易时间：</div>
				<div class="time-detail">
					<input type="text" class="start-date" value="{{startTime|date:'yyyy-MM-dd'}}"></input>
					<div class="split"> — </div>
					<input type="text" class="end-date" value="{{endTime|date:'yyyy-MM-dd'}}"></input>
				</div>
				<div class="search-btn btn"  ng-click="search()">搜索</div>
				<div class="custom-service-btn btn">
					<div class="add-icon">+</div>
					定制服务
				</div>
			</div>
		</div>
		<table class="batch-list table">
			<thead class="thead">
				<tr>
					<td>服务号</td>
					<td>服务类型</td>
					<td>申请数量</td>
					<td>申请时间</td>
					<td>完成进度</td>
					<td>联系人</td>
					<td>服务状态</td>
				</tr>
			</thead>
		</table>
		<div class="table-box">
			<table class="batch-list table">
				<tbody class="tbody" ng-repeat="d in data">
					<tr>
						<td>{{d.serviceNumber}}</td>
						<td>{{d.type}}</td>
						<td>{{d.count}}</td>
						<td>{{d.startTime}}</td>
						<td class="progress" ng-click="progress(d.serviceNumber,$event)">点击可查看详细进度</td>
						<td class="contact" ng-click="contact(d.contactsID,$event)">项目经理</td>
						<td >{{d.status}}</td>
					</tr>
					<tr class="textarea">
						<td colspan="7">
							<textarea class="service-require">服务要求： {{d.serviceDemand}}</textarea>
						</td>					
					</tr>
					<tr>
						<td colspan="7">
							<div class="detail-btn" ng-click="detail(d)">查看详情</div>
						</td>	
					</tr>
					<!--带阴影悬浮框-> 进度详情 -->
					<div class="progress-detail" ng-show="isShowProgress" ng-style="progressStyle">
						<div class="pro-title">进度查看
							<div class="close" ng-click="closeProgress()">×</div>
						</div>
						<ul class="list-detail">
							<li>
								<span>已提交数量：</span>
								<span><span class="count">{{progressData.commitNumber}}</span> 个商品</span>
							</li>
							<li>
								<span>已审核数量：</span>
								<span><span class="count">{{progressData.progressNumber}}</span> 个商品</span>
							</li>
							<li>
								<span>已入库数量：</span>
								<span><span class="count">{{progressData.storageNumber}}</span> 个商品</span>
							</li>
						</ul>
					</div>
					<!--悬浮框 联系方式 -->
					<div class="progress-contact" ng-show="isShowContact" ng-style="contactStyle">
						<div class="pro-title">联系方式
							<div class="close" ng-click="closeContact()">×</div>
						</div>
						<ul class="list-detail">
							<li>
								<span>姓名：</span>
								<span>项目经理</span>
							</li>
							<li>
								<span>联系电话：</span>
								<span>{{contactData.phone}}</span>
							</li>
							<li>
								<span>微信：</span>
								<span>{{contactData.weixin}}</span>
							</li>
							<li>
								<span>邮箱：</span>
								<span>{{contactData.email}}</span>
							</li>
						</ul>
					</div>

				</tbody>
			</table>
		</div>
		<lmpager></lmpager>
	</div>
</div>