<div class="am_fourbox_bg">
    <div class="am_tbox">
        <div class="am_box_one animated fadeInDown">
            <h2>商品数据制作</h2>
            <img src="../../image/fourpage/four_xian.png" alt=""/>
            <P>图片拍摄  ·  详情页设计  ·  采集系统</P>
        </div>
    </div>
</div>
<div class="am_fourbox_bg2">
    <div class="am_fourbox">
        <h3>产品介绍<em>标示线</em></h3>
        <ol>
            <li ng-class="{'cardhot':showIndex==0}" ng-click="showIndex=0;">
                <img src="../../image/fourpage/four_icon_01.png" alt=""/>
                <P>基础拍摄</P>
            </li>
            <li  ng-class="{'cardhot':showIndex==1}" ng-click="showIndex=1;">
                <img src="../../image/fourpage/four_icon_02.png" alt=""/>
                <P>标准详情页</P>
            </li>
            <li ng-class="{'cardhot':showIndex==2}" ng-click="showIndex=2;">
                <img src="../../image/fourpage/four_icon_03.png" alt=""/>
                <P>高级详情页</P>
            </li>
            <li ng-class="{'cardhot':showIndex==3}" ng-click="showIndex=3;">
                <img src="../../image/fourpage/four_icon_04.png" alt=""/>
                <P>定制详情页</P>
           </li>
        </ol>
        <div class="am_tab_box">
            <ul ng-show="showIndex==0">
                <i ng-show="showIndex==0">三角<em></em></i>
                <li>
                    <img src="../../image/fourpage/four_shop_01.png" alt=""/>
                    <P>图片数量</p>
                    <P>（2主图+3细节图）</P>
                </li>
                <li>
                    <img src="../../image/fourpage/four_shop_02.png" alt=""/>
                    <P>修图尺寸</p>
                    <P>（800x800px）</P>
                </li>
                <li>
                    <img src="../../image/fourpage/four_shop_03.png" alt=""/>
                    <P>修图等级</p>
                    <P>（默认为白色）</P>
                </li>
                <li>
                    <img src="../../image/fourpage/four_shop_04.png" alt=""/>
                    <P>图片数量</p>
                    <P>（普通修图）</P>
                </li>
            </ul>
            <ul ng-show="showIndex==1" class="am_tab2">
                <i ng-show="showIndex==1">三角<em></em></i>
                <li>  
                    <P>详情页模块数:5</p>   
                </li>
                <li>
                    <P>详情页尺寸：标准宽度950px,长度不限</p>
                </li>
                <li>
                    <P>设计难度：<img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" />
                    </p>
                </li>
                <div class="clear"></div>
                <div class="am_tab_sub">
                   <div class="am_sub_block">
                       <P>首屏海报</P>
                       <span>(一个设计版面)</span>
                   </div>
                   <div class="am_sub_block">
                       <P>首屏信息</P>
                       
                   </div>
                   <div class="am_sub_block">
                       <P>商品详情</P>
                       <span>(一个设计版面)</span>
                   </div>
                   <div class="am_sub_block">
                       <P>卖点展示</P>
                       <span>首屏海报</span>
                   </div>
                   <div class="am_sub_block">
                       <P>品牌设计</P>
                       <span>(统一的设计形式)</span>
                   </div>

                </div>  
            </ul>
            <ul ng-show="showIndex==2" class="am_tab3">
                <i ng-show="showIndex==2">三角<em></em></i>
                <li>  
                    <P>详情页模块数:6</p>   
                </li>
                <li>
                    <P>详情页尺寸：标准宽度950px,长度不限</p> 
                </li>
                <li>
                    <P>设计难度：<img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" /></p>
                </li>
                <div class="clear"></div>
                <div class="am_tab_sub am_tab_sub3">
                   <div class="am_sub_block">
                       <P>首屏海报</P>
                       <span>(一个设计版面)</span>
                   </div>
                   <div class="am_sub_block">
                       <P>首屏信息</P>
                       
                   </div>
                   <div class="am_sub_block">
                       <P>商品详情</P>
                       <span>(一个设计版面)</span>
                   </div>
                   <div class="am_sub_block">
                       <P>卖点展示</P>
                       <span>首屏海报</span>
                   </div>
                   <div class="am_sub_block">
                       <P>温馨贴士</P>
                   </div>
                   <div class="am_sub_block">
                       <P>品牌介绍</P>
                       <span>(统一的设计形式)</span>
                   </div>

                </div> 
            </ul>
            <ul ng-show="showIndex==3" class="am_tab4">
                <i ng-show="showIndex==3">三角<em></em></i>
                <li>  
                    <P>详情页模块数:5</p>   
                </li>
                <li>
                    <P>详情页尺寸：标准宽度950px,长度不限</p>
                </li>
                <li>
                    <P>设计难度：<img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" />
                    <img src="../../image/fourpage/star.png" alt="" />
                    </p>
                </li>
                <div class="clear"></div>
                <div class="am_tab_sub am_tab_sub4">
                   <div class="am_sub_block">
                       <P>首屏海报</P>
                       <span>(一个设计版面)</span>
                   </div>
                   <div class="am_sub_block">
                       <P>首屏信息</P>
                       
                   </div>
                   <div class="am_sub_block">
                       <P>商品详情</P>
                       <span>(一个设计版面)</span>
                   </div>
                   <div class="am_sub_block">
                       <P>卖点展示</P>
                       
                   </div>
                   <div class="am_sub_block">
                       <P>商品包装展示</P>
                   </div>
                   <div class="am_sub_block">
                       <P>温馨贴士</P>
                   </div>
                   <div class="am_sub_block">
                       <P>品牌介绍</P>
                       <span>(统一的设计形式)</span>
                   </div>

                </div>
            </ul>
        </div>
    </div>
</div>
<!--客户类型-->
<!--客户类型-->
<div class="am_fourbox_bg3">
        <h3>客户类型<em>标示线</em></h3>
</div>
<div class="am_fourbox_bg4">
    <div class="am_fourbox">
        <div class="am_left">
           <a ng-class="{'current':leftIndex==1}" ng-click="leftIndex=1">海量商品型</a>
            <a ng-class="{'current':leftIndex==2}" ng-click="leftIndex=2">高客单价型</a>
           <a ng-class="{'current':leftIndex==3}" ng-click="leftIndex=3">多商户型</a>
        </div>
        <div class="am_tab_box2">
            <div class="am_tab_box2_block" ng-show="leftIndex==1">
            <i ng-show="leftIndex==1">三角</i>
               <p><span>客户：</span><a href="http://www.feiniu.com/" target="_black"><img src="../../image/fourpage/four_logo_01.png" alt="" /></a>
                <a href="http://www.ewj.com/" target="_black"><img src="../../image/fourpage/four_logo_02.png" alt="" /></a>
               </p>
               <p><span>服务：</span><img src="../../image/fourpage/four_server_01.png" alt=""/></p>
               <p><span>项目介绍：大润发和华润万家在自建电商平台的时候，有数万计的商品需要搬到线上，如何高效又用较为低廉的成本解决问题成为第一诉求，在项目执行中，零猫团队使用了自主研发的图片和参数信息采集系统，将商品图片采集过程流程化，减少了采集过程中商品信息的缺漏，并将商品信息有效有序管理，大大提升了采集的效率并让整体成本下降20%以上。</span></p>
           </div>
           <div class=" am_tab_box2_block two" ng-show="leftIndex==2">
               <i ng-show="leftIndex==2">三角</i>
               <p><span>客户：</span><a href="http://www.crvole.com.cn/" target="_black"><img src="../../image/fourpage/four_logo_03.png" alt="" /></a>
                <a href="http://www.parkson.com.cn/" target="_black"><img src="../../image/fourpage/four_logo_04.png" alt="" /></a>
               </p>
               <p><span>服务：</span><img src="../../image/fourpage/four_server_01.png" alt=""/></p>
               <p>
                   <span>项目介绍：Ole作为高端的精品超市品牌，切的是真正的白领消费层，不论是线下店铺的装修陈列还是线上商城的视觉营销，传递一致的时尚高端的生活方式是ole在做全渠道过程中的重要诉求之一，在项目执行中，零猫团队凭借母公司过往四年在电商视觉服务领域的积累，不仅大大缩短了项目交付的周期，且在页面设计中融入了很多合适的设计细节，在新颖的模块概念和多元化的生活元素组合中充分展现了ole的品牌调性。
                    </span>
                </p>
           </div>
           <div class="am_tab_box2_block three" ng-show="leftIndex==3">
               <i ng-show="leftIndex==3">三角</i>
               <p><span>客户：</span><a href="http://www.juran.cn/" target="_black"><img src="../../image/fourpage/four_logo_05.png" alt="" /></a>
                <a href="http://www.superwan.com/
" target="_black"><img src="../../image/fourpage/four_logo_06.png" alt="" /></a>
               </p>
               <p><span>服务：</span><img src="../../image/fourpage/four_server_01.png" alt=""/></p>
               <p><span>项目介绍：居然之家是以中高端为经营定位，为顾客提供设计、材料、家具、家居用品及饰品等“一站式”服务，融家装设计中心、家具建材品牌专卖店、建材超市、家居商场等多种业态为一体的大型家居建材主题购物中心。居然在线是其布局全渠道的重要手段。居然在线在进行商品数字化的过程中，线下众多的商户协调、海量的商品调取成为最头疼的问题，零猫在项目执行过程中开创性的饮用了erp数字化管理系统，集上传、派单、审核、签收于一体，通过流程优化不仅提前完成项目，还大大节约了平台、服务商、商户的人力成本支出。</span></p>
           </div>
        </div>
    </div>
</div>
<div class="am_fourbox_bg5">
        <h3>我们的优势<em>标示线</em></h3>
</div>

<div class="am_fourbox_bg6">
    <div class="am_sixbox">
        <ul>
            <li>
                <h3>商品数据采集系统</h3>
                <P>数据采集系统完成商品，从信息的录入、商品的拍摄、审核、</P>
                <p>交付在线化、可视化、一体化，大大节省了人力沟通成本。</P>
            </li>
            <li>
                <img src="../../image/fourpage/four_bg6_01.png" alt="">
            </li>
            <li>
                
                <img src="../../image/fourpage/four_bg6_02.png" alt="">
            </li>
            <li>
                <h3>ERP数字化管理系统</h3>
                <P>我们通过ERP平台，实现多方协作办公，有效减少沟通成本，能够快速处理发布、培训发布、派单处理、图片审核、页面审核等。</P>
            </li>
            
        </ul>

    </div>
</div>
<div class="am_fourbox_bg7">
        <h3>项目客户<em>标示线</em></h3>
</div>
<div class="am_fourbox_bg8">
       <div class="am_ehigtbox">
           <ul>
               <li><img src="../../image/fourpage/four_business_logo_01.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_02.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_03.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_05.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_06.png" alt="华润万家"/></li><li><img src="../../image/fourpage/four_business_logo_04.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_07.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_08.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_09.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_010.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_011.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_012.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_013.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_014.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_012.png" alt="华润万家"/></li>
               <li><img src="../../image/fourpage/four_business_logo_012.png" alt="华润万家"/></li>

           </ul>
       </div>
</div>