<div class="shopcart" lmchecker>
	<div class="total-data">
		<span class="total-count">全部数据{{totalCount}}SKU</span>
	</div>
	<table class="table">
		<thead class="thead">
			<tr>
				<td class="padd-left">条形码</td>
				<td>商品名称</td>
				<td>商品数据数量</td>
				<td>价格</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody class="tbody">
			<tr class="choose-all">
				<td colspan="5">
					<div class="checkbox" ng-class="{'checkon':isAllChecked}" ng-click="checkAll()"></div>全选
				</td>
			</tr>
			<tr ng-repeat="d in data">
				<td>
					<div class="checkbox checkbox-pos" ng-class="{'checkon':!!checkids[d.goodsId]}"  ng-click="check(d.goodsId)" ></div>{{d.barcode}}
				</td>
				<td>{{d.name}}</td>
				<td>{{d.pictureNum}}</td>
				<td>{{d.price | currency : '¥' : 2}}</td>
				<td class="del" ng-click="remove([{goodsId:d.goodsId,db:d.db}])">移除</td>
			</tr>
			<tr class="seemore">
				<td colspan="5" ng-click="more()">点击加载更多...</td>
			</tr>
		</tbody>
	</table>
	<div class="settlement">
		<div class="choose-all">
			<div class="checkbox checkbox-pos" ng-class="{'checkon':isAllChecked}" ng-click="checkAll()"></div>
			全选
			<span class="del-choose" ng-click="remove()">删除所选商品</span>
		</div>
		<div class="go-settlement">
			<div class="detail">总价：{{selectedPrice | currency : '¥' : 2}} <br/><span class="count">共{{selectedCount}}SKU</span>
		</div>
		<div class="settlement-btn" ng-click="confirm()">去结算</div>
	</div>
</div>
</div>